#########################
#### GENERAL or ROOT ####
#########################

*.log
*.old
*.tmp
rebuild.bash

# Transifex
.transifexrc

# Maven
target/

# Eclipse
.classpath
.project
.settings/
*.iml
*.pyc
.DS_Store
*.orig
pre-commit-changes.txt

# Emacs temp files
~*
*~

#SVN
.svn
*.svn-base
*#

.idea
.AppleDouble/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#vim files
.*.sw?
.*~

#Johns local files and dirs
all_*/
final_*/
images_unused/
cover\ images/
tex-old/
xxx/

bin/toBookFormat\ (copy)

Formatting\ TODOs.txt
Additional\ Bibliography.bib
Bibliography.bib
outline.tex

book.txss

cover/ISBN.*
cover/FrontCoverOldClunky.tex

diagrams/JF*

*.ain
*.aux
*.bash
*.bbl
*.blg
*.ent
*.html
*.idx
*.ilg
*.ind
*.lof
*.los
*.log
*.out
*.pdf
*.PDF
*.synctex.gz
*.toc
*.xbb
*.zip
*.jf.txt
rebuild.bash

!eBookEntry.html
